.calc
{
  width: 320px;
  margin:100px auto;
}

body {
  background: linear-gradient(
    to right,
    #d43e08,
    #d47c08,
    #d49708,
    #d4b508
  )
}

#answer {
  background-color: #7b9ea6;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #38373b;
}

.button
{
  background-color: #38373b;
  height: 80px;
  width: 80px;
  color: aliceblue;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}

.button1
{
  width: 160px;
}